[submodule "public"]
	path = public
	url = https://github.com/syntheticyeast/syntheticyeast_update.github.io.git
	branch = main
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
